body {
    padding: 0;
    background-image: url(img/tlo4.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    background-color: black;
}

.pirat {
    background-image: url(img/pirat1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto auto;
    height: 100%;
}

.background {
    background-image: url(img/statek.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size: 100% 100%;
    height: 100%;
}

#container {
    width: 560px;
    margin: 0 auto;
    position: relative;
}

#header-game {
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: 'Sedgwick Ave Display', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin: 40px 0 0px 0;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#game-board {
    width: 490px;
    height: 490px;
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
}

.game-board-div {
    background: #1b51a7;
    border: 1px solid white;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    float: left;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6);
    transform: rotateY(-180deg);
}

.game-board-div:hover {
    background-color: #0066ff;
}

#pirat {
    bottom: 0px;
    border: 1px solid white;
}

#header-game-board {
    width: 560px;
}

.header-game-board {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    color: black;
    text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    float: left;
}

#aside-game-board {
    width: 70px;
    float: left;
    clear: both;
}

.aside-game-board {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
}

.hit {
    background: url('img/statek-hit.jpg') no-repeat center center;
    border: 1px solid white;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    float: left;
    cursor: default;
    transition: 0.7s;
}

.miss {
    background: url('img/bomb.png') no-repeat center center;
    border: 1px solid white;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    float: left;
    cursor: default;
    transition: 0.7s;
}

.play-button {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restart-button {
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    display: none;
}

.stopwatch {
    position: absolute;
    right: 100px;
    top: 80px;
    font-size: 25px;
    color: white;
    display: none;
}

.best-time {
    position: absolute;
    right: 130px;
    top: 190px;
    font-size: 25px;
    color: white;
    display: none;
}

.result {
    text-align: center;
}

.result2 {
    text-align: center;
}

.hit-field {
    position: absolute;
    right: 100px;
    bottom: 60px;
    font-size: 25px;
    color: white;
    display: none;
}

.miss-field {
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-size: 25px;
    color: white;
    display: none;
}

.delete-margin {
    margin-right: 0px;
}