body{
    background: gray;
    width: 560px;
    margin:50px auto;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
#game-board{
    width: 490px;
    height: 490px;
    float:left;
}
#game-board div{
    background: yellowgreen; 
	border: 1px solid yellow;
	width:70px;
    height:70px;
    box-sizing: border-box;
    float: left;
}	

#header-game-board{
    width: 560px;
}

.header-game-board{
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    color: white;
    background: yellowgreen; 
	border: 1px solid yellow;
	width:70px;
    height:70px;
    box-sizing: border-box;
    float: left;
}

#aside-game-board{
    width: 70px;
    float: left;
}

.aside-game-board{
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    color: white;
    background: yellowgreen; 
	border: 1px solid yellow;
	width:70px;
    height:70px;
    box-sizing: border-box;

}