html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(240, 187, 117, 1) 0%, rgba(158, 66, 0, 1) 100%)
}

.main-container {
    min-width: 100%;
    min-height: 100%;
    background-image: url(img/tlo5.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: black;
}

/* .moje {
    background: radial-gradient(ellipse at center, rgba(240, 187, 117, 1) 0%, rgba(158, 66, 0, 1) 100%)
} */

#header-game {
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: 'Sedgwick Ave Display', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-top: 25px;
    animation: fadein 1.5s;
}

@media screen and (max-width: 480px) {
    #header-game {
        margin-top: 20px;
        font-size: 45px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    #header-game {
        margin-top: 20px;
        font-size: 62px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    #header-game {
        margin-top: 25px;
        font-size: 72px;
    }
}

.instruction {
    font-size: 20px;
    color: white;
    text-align: center;
    border: 2px solid #deb887;
    border-radius: 5px;
    padding: 4px;
    padding-bottom: 0px;
    z-index: 400;
    background: #92072b;
    animation: fadein 1.5s;
}

@media screen and (max-width: 480px) {
    .instruction {
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .instruction {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .instruction {
        font-size: 20px;
    }
}

.pirat {
    position: absolute;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    background-image: url(img/pirat1.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: fadein 1.5s;
}

@media screen and (max-width: 480px) {
    .pirat {
        height: 40vh;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .pirat {
        height: 40vh;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .pirat {
        height: 40vh;
    }
}

.play-button {
    font-size: 55px;
    cursor: pointer;
    font-family: 'Sedgwick Ave Display', cursive;
    padding: 5px;
    padding-bottom: 1px;
    border-radius: 10px;
    animation: fadein 1.5s;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .play-button {
        margin: 0px;
        padding: 4px;
        padding-bottom: 1px;
        font-size: 28px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .play-button {
        font-size: 42px;
        padding: 5px;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .play-button {
        position: relative;
        font-size: 45px;
        padding: 5px;
        padding-bottom: 1px;
        margin-bottom: 15px;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container {
    width: 670px;
    margin: 0 auto;
    display: none;
    clear: both;
}

@media screen and (max-width: 480px) {
    #container {
        width: 400px;
        clear: both;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    #container {
        width: 550px;
        clear: both;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    #container {
        width: 600px;
        clear: both;
    }
}

#game-board {
    width: 540px;
    height: 460px;
    float: left;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 480px) {
    #game-board {
        width: 330px;
        height: 330px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    #game-board {
        width: 460px;
        height: 360px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    #game-board {
        width: 470px;
        height: 400px;
    }
}

.game-board-div {
    background: #8b4513 no-repeat center center;
    background-size: 100% 100%;
    border: 1px solid white;
    width: 75px;
    height: 65px;
    box-sizing: border-box;
    float: left;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6);
    transform: rotateY(-180deg);
}

@media screen and (max-width: 480px) {
    .game-board-div {
        width: 45px;
        height: 50px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .game-board-div {
        width: 65px;
        height: 45px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .game-board-div {
        width: 65px;
        height: 55px;
    }
}

.hover-effect:hover {
    background-color: #b3540e;
}

#header-game-board {
    width: 700px;
}

@media screen and (max-width: 480px) {
    #header-game-board {
        width: 380px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    #header-game-board {
        width: 550px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    #header-game-board {
        width: 650px;
    }
}

.header-game-board {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    color: black;
    text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white;
    width: 75px;
    height: 65px;
    box-sizing: border-box;
    float: left;
}

@media screen and (max-width: 480px) {
    .header-game-board {
        font-size: 25px;
        line-height: 50px;
        width: 45px;
        height: 50px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .header-game-board {
        font-size: 30px;
        line-height: 45px;
        width: 65px;
        height: 45px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .header-game-board {
        font-size: 40px;
        line-height: 55px;
        width: 65px;
        height: 55px;
    }
}

#aside-game-board {
    width: 75px;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    #aside-game-board {
        width: 45px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    #aside-game-board {
        width: 65px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    #aside-game-board {
        width: 65px;
    }
}

.aside-game-board {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 75px;
    height: 65px;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    .aside-game-board {
        font-size: 25px;
        line-height: 50px;
        width: 45px;
        height: 50px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .aside-game-board {
        font-size: 30px;
        line-height: 45px;
        width: 65px;
        height: 45px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .aside-game-board {
        font-size: 40px;
        line-height: 55px;
        width: 65px;
        height: 55px;
    }
}

.hit {
    background: url('img/statek-hit.jpg') no-repeat center center;
    background-size: 100% 100%;
    border: 1px solid white;
    width: 75px;
    height: 65px;
    box-sizing: border-box;
    float: left;
    cursor: default;
    transition: 0.7s;
}

@media screen and (max-width: 480px) {
    .hit {
        width: 45px;
        height: 50px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .hit {
        width: 65px;
        height: 45px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .hit {
        width: 65px;
        height: 55px;
    }
}

.miss {
    background: url('img/bomb.png') no-repeat center center;
    background-size: 100% 100%;
    border: 1px solid white;
    width: 75px;
    height: 65px;
    box-sizing: border-box;
    float: left;
    cursor: default;
    transition: 0.7s;
}

@media screen and (max-width: 480px) {
    .miss {
        width: 45px;
        height: 50px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .miss {
        width: 65px;
        height: 45px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .miss {
        width: 65px;
        height: 55px;
    }
}

.restart-button {
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    color: white;
    display: none;
}

@media screen and (max-width: 480px) {
    .restart-button {
        margin: 5px auto;
        font-size: 15px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .restart-button {
        margin: 5px auto;
        font-size: 17px;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .restart-button {
        margin: 5px auto;
        font-size: 19px;
    }
}

.container-times {
    min-width: 300px;
}

.stopwatch {
    font-size: 22px;
    width: 220px;
    height: 110px;
    color: white;
    text-align: center;
    border: 2px solid #deb887;
    border-radius: 5px;
    padding: 5px;
    background: #92072b;
    display: none;
    float: left;
}

@media screen and (max-width: 480px) {
    .stopwatch {
        width: 140px;
        height: 75px;
        font-size: 15px;
        margin-left: 5px;
        float: left;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .stopwatch {
        width: 160px;
        height: 85px;
        font-size: 17px;
        margin-left: 5px;
        float: left;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .stopwatch {
        width: 190px;
        height: 100px;
        font-size: 20px;
        margin-left: 10px;
        float: left;
    }
}

.best-time {
    width: 220px;
    height: 110px;
    font-size: 22px;
    color: white;
    text-align: center;
    display: none;
    border: 2px solid #deb887;
    border-radius: 5px;
    padding: 5px;
    background: #92072b;
    float: right;
}

@media screen and (max-width: 480px) {
    .best-time {
        width: 130px;
        height: 75px;
        font-size: 15px;
        float: right;
        margin-right: 5px;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .best-time {
        width: 150px;
        height: 80px;
        font-size: 17px;
        margin-right: 5px;
        float: right;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .best-time {
        width: 180px;
        height: 95px;
        font-size: 20px;
        margin-right: 20px;
        float: right;
    }
}

.result {
    text-align: center;
}

.result2 {
    text-align: center;
}

.container-attempt {
    min-width: 310px;
}

.hit-field {
    width: 220px;
    height: 40px;
    font-size: 22px;
    float: left;
    color: white;
    text-align: center;
    border: 2px solid #deb887;
    border-radius: 5px;
    padding: 3px;
    background: #92072b;
    margin: 0 auto;
    display: none;
}

@media screen and (max-width: 480px) {
    .hit-field {
        width: 120px;
        height: 30px;
        font-size: 15px;
        margin-left: 5px;
        float: left;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .hit-field {
        width: 160px;
        height: 32px;
        font-size: 16px;
        margin-left: 5px;
        float: left;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .hit-field {
        width: 250px;
        height: 40px;
        font-size: 20px;
        margin-left: 10px;
        float: left;
    }
}

.miss-field {
    width: 220px;
    height: 40px;
    font-size: 22px;
    float: right;
    color: white;
    text-align: center;
    display: none;
    border: 2px solid #deb887;
    border-radius: 5px;
    padding: 3px;
    background: #92072b;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .miss-field {
        width: 160px;
        height: 30px;
        font-size: 15px;
        margin-right: 5px;
        float: right;
    }
}

@media screen and (max-width: 699px) and (min-width: 481px) {
    .miss-field {
        width: 180px;
        height: 32px;
        font-size: 16px;
        margin-right: 5px;
        float: right;
    }
}

@media screen and (max-width: 992px) and (min-width: 700px) {
    .miss-field {
        width: 250px;
        height: 40px;
        font-size: 20px;
        margin-right: 10px;
        float: right;
    }
}

.delete-margin {
    margin-right: 0px;
}